.slider {
  
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    /* animation: cambio 80s;
    animation-iteration-count: infinite; */
    animation: cambio 100s infinite;
    animation-timing-function: linear;
}
.slider li {
    /*padding:0 10px;*/
    list-style: none;
}
.slider img {
    max-width: fit-content !important;
    height: auto !important;
}
@keyframes cambio {
    from {margin-left: 0%}
    to {margin-left: -100%}
}